
{
  "extends": [
    "standard",
    "react-app"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "object-curly-spacing": ["warn", "always"],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2]
  }
}