<div class="row">
  <div class="col-md-8" style="font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif; font-size: large;">
    <div class="center" style="padding-top: 30px">
      <%= image_tag 'profile.jpg', size: '200x200', style: 'border-radius: 100% !important' %>

      <br><br><br>

      <p>
        Hi, I am Karthik M A M, an undergrad computer science and engineering student based in Chennai. I currently
        intern at <a href="http://realimage.com/home">Real Image Media Technologies, Chennai</a>. My fields of interest
        are designing and building software applications, full-stack websites, services and algorithms.
      </p>

      <br>

      <p>
        Most of the times I talk with computers and tell them what to do.. Ya, I code stuff most of the time either
        building tools, apps and websites or solving challenges on HackerRank. Well, for the rest, I would watch Anime
        or surf Quora, the internet or watch videos on Youtube channels like Vsauce, DNews, Techquickie, Seeker Daily
        etc,. I would have watched at-least 150 Anime series, some twice or even thrice. I love to taste different kinds of food
        and am always on the lookout for a delectable palate.
      </p>

      <br>

      <div class="list-group">
        <h3 class="list-group-heading">Notable Projects</h3>
        <a href="projects/download-manager" class="list-group-item">Download Manager</a>
        <a href="projects/kissanime-download-links-grabber" class="list-group-item">Links Grabber Extension</a>
        <a href="projects/boxo-the-explorer" class="list-group-item">Boxo the Explorer</a>
        <a href="projects/park-smart" class="list-group-item">Park Smart</a>
        <a href="projects/universal-gesture-remote" class="list-group-item">Gesture Remote</a>
        <a href="projects/wordament-solver" class="list-group-item">Wordament Solver</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <hr>

    <!-- portfolio -->
    <div class="well">
      <h4>Portfolio</h4>
      <a href="https://github.com/KarthikMAM" class="btn btn-primary">GitHub</a>
      <a href="https://hackerrank.com/KarthikMAM" class="btn btn-primary">HackerRank</a>
      <a href="https://www.quora.com/profile/Karthik-M-A-M-1" class="btn btn-primary">Quora</a>
    </div>

    <!-- skills -->
    <div class="well">
      <h4>Skills</h4>
      <a href="https://hackerrank.com/KarthikMAM" target="_blank" class="btn btn-primary">python</a>
      <a href="/projects/tags/c%23" class="btn btn-primary">c#</a>
      <a href="/projects/tags/wpf" class="btn btn-primary">wpf</a>
      <a href="/projects/tags/rails" class="btn btn-primary">rails</a>
      <a href="/projects/tags/ruby" class="btn btn-primary">ruby</a>
      <a href="/projects/tags/java" class="btn btn-primary">java</a>
      <a href="/projects/tags/javascript" class="btn btn-primary">javascript</a>
      <a href="/projects/tags/android" class="btn btn-primary">android</a>
      <a href="/projects/tags/windows+phone" class="btn btn-primary">windows phone</a>
    </div>

    <!-- social -->
    <div class="well">
      <div class="center">
        <%= render 'shared/social' %>
      </div>
    </div>

    <!-- resume -->
    <div class="well">
      <div class="center">
        <a href="http://www.slideshare.net/KarthikMAM/karthik-m-a-m-67611218?ref=https://www.linkedin.com/" class="btn btn-primary">Resume</a>
      </div>
    </div>
  </div>
</div>