{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "node": true,
    "jasmine": true,
    "es6": true,
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "react-app"
  ],
  "rules": {
    "semi": "warn",
    "no-multiple-empty-lines": "warn",
    "camelcase": "error",
    "prefer-spread": "warn",
    "no-undef-init": "error",
    "no-undef": "error",
    "no-unreachable": "error",
    "no-extra-semi": "warn",
    "comma-style": "warn",
    "comma-dangle": "warn",
    "no-unused-vars": "warn",
    "quotes": "warn",
    "no-console": "off"
  }
}