{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "jasmine": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": "warn",
    "no-multiple-empty-lines": "warn",
    "camelcase": "error"
  }
}