<div class="blog-post" id="blog-<%= blog_post.id %>">
  <div>
    <div>
      <h3>
        <%= link_to blog_post.title, blog_post %>
      </h3>
      <p>
        Hello this is a description about the blog
      </p>
    </div>
  </div>
</div>