<tr class="blog-post" id="blog-<%= blog_post.id %>">
  <td>
    <h3>
      <%= link_to blog_post.title, blog_post %>
    </h3>
    <p>
      <%= blog_post.desc %>
    </p>
  </td>
  <% if logged_in? %>
      <td>
        <%= link_to 'Edit', edit_blog_post_path(blog_post.id), class: 'btn btn-danger' %>
      </td>
  <% end %>
</tr>