<%- cache_unless logged_in?, @blog_post do %>
    <%= render 'shared/errors' %>
    <div class="row">
      <div class="col-lg-8">
        <%= render 'shared/content', item: @blog_post %>
      </div>
      <div class="col-lg-4">
        <hr>
        <%= render 'shared/admin_actions', item: @blog_post %>
        <%= render 'shared/tags', tags: @blog_post.blog_post_tags.map { |e| e.tag } %>
      </div>
    </div>
<%- end %>