@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
* {
  border-radius: 0 !important;
}

body {
  padding-top: 90px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* headers */
#name {
  font-size: 1.5em !important;
  text-transform: uppercase;
}

/* project and blog post list */
.projects, .blog-posts {
  tr:first-child {
    td {
      border-top: 0;
    }
  }

  .project, .blog-post {
    td {
      padding-left: 0 !important;
      padding-right: 0 !important;
      vertical-align: middle !important;
      &:first-child {
        padding: 5px 5px 5px 0 !important;
      }
      &:last-child {
        padding: 0px !important;
      }
    }

    .admin-actions {
      text-align: right;
    }
  }
}

/* form controls */
.html-field {
  .html-editor, .html-content {
    height: 550px;
    margin: 10px 0px
  }

  .html-content {
    overflow: auto;
    border: ridge;
    padding: 5px;
  }
}

/* show page */
.content {
  h1, h2, h3, h4, h5, h6 {
    padding-top: 10px;
  }

  h4 {
    font-weight: bold;
  }

  th, td {
    padding: 10px;
  }

  pre {
    padding-top: 10px;
  }
}

.well {
  a {
    margin-top: 5px;
  }
}