@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
* {
  border-radius: 0 !important;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* headers */
#name {
  font-size: 1.5em !important;
  text-transform: uppercase;
}

/* projects */
.projects, .blog-posts {
  list-style: none;
  margin: 0px;
  padding-left: 0px !important;
  li {
    border-bottom: 1px solid $gray-lighter;
    &:last-of-type {
      border-bottom: 0px;
    }
  }
}

.project, .blog-post {
  div {
    display: table-row;
    div {
      display: table-cell;
      vertical-align: top;
    }
  }
}

/* form controls */
.btn {
  margin: 3px;
}

/* content text */
.content {
  h1, h2, h3, h4, h5, h6 {
    padding-top: 10px;
  }

  h4 {
    font-weight: bold;
  }
}

th, td {
  padding: 10px;
}