<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript" charset="utf-8">
    submit_func = function () {
        $('form').submit();
    }
</script>
<button class="<%= btn_class %>" data-sitekey='6LeyPBMUAAAAAKY9gk13SuedOwjrB0RnG2_zwDpV' data-callback='submit_func'><%= btn_text %></button>